.forumListFixed__option__icon > img {
    border-radius: 50%;
    background-color: white;
}

.option_backgroun_selected { 
    background-color: rgba(255, 255, 255, 0.3);
}

.forumListFixed__option__link:hover {
    color: white;
}