.forumBody__container {
    flex: 0.65;
    width: 100%;
}

.forumBody__div {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.forumBody__titleImage {
    width: 100%;
    height: 200px;
    background-color: yellow;
}

.forumBody__title {
    width: 100%;
    height: 150px;
    background-color: violet;
    position: sticky;
    top: 48px;
}

.forumBody__fillBlock {
    width: 100%;
    height: 300px;
    background-color: white;
}