.forumList__container{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    /* height: 500px; */
}

.forumList__container::-webkit-scrollbar {
    width: 10px;
}
.forumList__container::-webkit-scrollbar-track {
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.forumList__container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.forumList__title {
    display: flex;
    /* height: 100%; */
    align-items: center;
    padding-right: 10px;
    padding-left: 20px;
}

.forumList__title > h2 {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, PingFang TC, 黑體-繁,
        Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體, Microsoft JhengHei,
        sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.35);
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.forumList__list {
    /* display: flex; */
}