.postModal__container {
    max-width: 728px;
    height: 100%;
    margin: auto;
    width: 100%;
    background-color: white !important;
    display: flex;
    flex-direction: column;
}

.postModal__header {
    width: 100%;
    height: 100px;
    display: flex;
}

.postModal__header__author{
    width: 80%;
    height: 50%;
    margin: auto;
    align-items: center;
    display: flex;
}

.postModal__header__author__rightContainer{
    width: 10%;
    background-color: hotpink;
    height: 100%;
}

.postModal__header__author__container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: indigo;
}

.postModal__header__author__container > h3 {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,
    蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.postModal__header__author__avatar {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    height: 30px !important;
    width: 30px !important;
    font-size: 15px !important;
    background-color: blueviolet !important;
}

.postModal__article{
    width: 100%;
    background-color: green;
    height: 100%;
}

.postModal__closeIcon{
    /* color: blue; */
}

.postModal__closeButton {

}

.postModal__closeButton:hover {
    text-decoration: none !important;
    background-color: transparent !important;
    color: blue;
}