.post__container {
    width: 100%;
    height: 200px;
    background-color: white;
}

.post__article {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    display: flex;
    border-bottom: solid 1px rgb(233, 233, 233);
    box-sizing: border-box;
}

.post__div {
    width: 95%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.post__div__top {
    width: 100%;
    flex: 0.3;
    display: flex;
}

.post__div__bot {
    width: 100%;
    flex: 0.7;
    display: flex;
    flex-direction: row;
}


.post__username {
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
}

.post__username > h3 {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, PingFang TC, 黑體-繁,
    Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體, Microsoft JhengHei,
    sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    text-align: left;
}

.post__title {
    width: 100%;
    flex: 1;
}

.post__avatar {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px !important;
    width: 20px !important;
    font-size: 15px !important;
}

.post__bot__left {
    width: 100%;
    height: 100%;
    max-width: 575px;
}

.post__bot__left > h2 {
    width: 100%;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,
    蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
    font-size: 22px;
}

.post__bot__left > p {
    width: 99%;
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,
    蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.post_bot__left__other {
    width: 100%;
    height: 30px;
    display: flex;
}

.post__bot__left__other__push {
}

.post__bot__left__other__push >h3 {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,
    蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
    color: rgba(0, 0, 0, 0.35);
    font-size: 15px;
    font-weight: 150;
}

.post__bot__left__other__reply {
    margin-left: 15px;
}

.post__bot__left__other__reply > h3 {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,
    蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif;
    color: rgba(0, 0, 0, 0.35);
    font-size: 15px;
    font-weight: 150;
}

.psot__bot__right {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
}