.sidebarAvatar {
  width: 208px;
  height: 44px;
  cursor: pointer;
}

.sidebarAvatar:hover {
  background-color: #0d273d;
  border-radius: 1px;
  transition: color 100ms ease-out;
}

.sidebarAvatar__container {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 10px;
  padding-left: 20px;
}

.sidebarAvatar__container > h2 {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, PingFang TC, 黑體-繁,
    Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體, Microsoft JhengHei,
    sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  height: 44px;
  text-align: center;
  line-height: 44px;
  padding-left: 10px;
}

.sidebarAvatar__Avatar {
  width: 30px !important;
  height: 30px !important;
}
