.topHeader {
  height: 48px;
  background-color: #0e6aa6;
  padding: 0px 20px;
}

.topHeader__containter {
  display: flex;
  align-items: center;
  height: 48px;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}
.topHeader__left {
  width: 100%;
  max-width: 1050px;
  display: flex;
  align-items: center;
}

.topHeader__img {
  max-height: 38px;
  cursor: pointer;
}

.topHeader__search {
  width: 100%;
  display: flex;
  max-width: 562px;
  height: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.topHeader__search > input {
  width: 100%;
  height: 100%;
  border: 1px solid #0c649c;
  box-sizing: border-box; /* 讓 border 包含在整個物件裡，不影響整體 width */
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 0;
  background-color: #09588a;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
}

.topHeader__search > input::placeholder {
  color: #91b3c9;
}

/* 輸入列的閃亮直線變白色 */
.topHeader__search > input:focus {
  color: white;
}

/* .topHeader__search > input::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
} */

.topHeader__searchIconContainer {
  border: 1px solid #0c649c;
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.topHeader__searchIcon {
  color: white;
  margin: auto;
  padding-top: 4px;
  padding-left: 7px;
  font-size: 20px !important;
}

.topHeader__sign {
  cursor: pointer;
}

.topHeader__sign > h3 {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, PingFang TC, 黑體-繁,
    Heiti TC, 蘋果儷中黑, Apple LiGothic Medium, 微軟正黑體, Microsoft JhengHei,
    sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  min-width: 100px;
}
